<div class="piepag">
    <P></P>
    <div class="col-3" id="mensaje">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Dejame tu mensaje</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <button type="button" class="btn btn-info">Enviar</button>
        </div>
    </div>
    
    <div class="col align-items-center">
        <i class="fa-brands fa-github"></i>
        <i class="fa-solid fa-envelope"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-whatsapp"></i>
    </div>
    

</div>