<div class="row align-items-start" id="collaps"> <!--conocimientos-->
  <div class="col-3">
    <p>
      <a class="btn btn-primary" data-bs-toggle="collapse" href="#sobremi2" role="button" aria-expanded="false" aria-controls="collapseExample">
        Lenguajes
      </a>            
    </p>
    <div class="collapse" id="sobremi2">
      <div class="card card-body">
        <div class="icons">
          <i class="fa-brands fa-java fa-4x"></i>
          <i class="fa-brands fa-square-js fa-4x"></i>
          <i class="fa-brands fa-git-alt fa-4x"></i>
        </div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis enim earum dicta corrupti sequi, vel iure, architecto at asperiores commodi ex. Nemo assumenda soluta molestiae officia impedit beatae facere tempora.
      </div>
    </div>
  </div>

  <div class="col-3">
    <p>
      <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
        Herramientas
      </a>            
    </p>
    <div class="collapse" id="collapseExample2">
      <div class="card card-body">
        <div class="icons">
          <i class="fa-brands fa-scuare-vscode fa-4x"></i>  <!--icono -->
        </div>
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.            
      </div>
    </div>
  </div>

  <div class="col-3">
    <p>
      <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">
        Front-end
      </a>            
    </p>
    <div class="collapse" id="collapseExample3">
      <div class="card card-body">
        <div class="icons">
          <i class="fa-brands fa-html5 fa-4x"></i>
          <i class="fa-brands fa-css3-alt fa-4x"></i>
          <p><i class="fa-brands fa-bootstrap fa-4x"></i>
          <i class="fa-brands fa-square-font-awesome fa-4x"></i></p>
        </div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus sit voluptates laudantium necessitatibus laborum quasi natus, nulla.
      </div>
    </div>
  </div>
  <div class="col-3">
    <p>
      <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample">
        Back-end
      </a>            
    </p>
    <div class="collapse" id="collapseExample4">
      <div class="card card-body">
        <div class="icons">
          <i class="fa-brands fa-html5 fa-4x"></i>
          <i class="fa-brands fa-css3-alt fa-4x"></i>
        </div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus sit voluptates laudantium necessitatibus laborum quasi natus, nulla.
      </div>
    </div>
  </div>
  <div class="col-2">
    <button class="btn btn-primary" routerLink="experiencia">más detalles</button>
  </div>
</div>  

<!-- proyecto -->

<h2 class="text-center" style="margin-bottom: 2%;"id="proy">futuros proyectos</h2>
<div class="proyectos">
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-4">
        <h5>titulo del proyecto</h5>
        <p>DE QUE TRATA: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est placeat qui ea quos quis ab in nihil iste, minima, quam modi. 
        Eveniet voluptatem debitis similique, deleniti consequuntur dignissimos cum corrupti!</p>
        <a href="#" class="btn btn-primary enabled" tabindex="-1" role="button" aria-disabled="true">VER</a>
      </div>
      <div class="col-4">
        <img src="/assets/img/pagina4chic2.png" class="card-img-right" style="width: 18rem;" alt="">
      </div>
    </div>
  </div>

  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-4">
        <img src="/assets/img/pagina4chic2.png" class="card-img-right" style="width: 18rem;" alt="">
      </div>
      <div class="col-4">
        <h5>titulo del proyecto2</h5>
        <p>DE QUE TRATA: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est placeat qui ea quos quis ab in nihil iste, minima, quam modi. 
        Eveniet voluptatem debitis similique, deleniti consequuntur dignissimos cum corrupti!</p>
        <a href="#" class="btn btn-primary disabled" tabindex="-1" role="button" aria-disabled="true">VER</a>
      </div>
    </div>
  </div>

  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-4">
        <h5>titulo del proyecto3</h5>
        <p>DE QUE TRATA: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est placeat qui ea quos quis ab in nihil iste, minima, quam modi. 
        Eveniet voluptatem debitis similique, deleniti consequuntur dignissimos cum corrupti!</p>
        <a href="#" class="btn btn-primary enabled" tabindex="-1" role="button" aria-disabled="true">VER</a>
      </div>
      <div class="col-4">
        <img src="/assets/img/pagina4chic2.png" class="card-img-right" style="width: 18rem;" alt="">
      </div>
    </div>
  </div>
</div>