<section class="prcont"id="sobremi">
  <div class="contenedor" >
    <h2>¿Quien soy?</h2>
    
    <div class="lafoto">
      <img src="assets/img/selfijoa1c.png" alt="mi foto" class="mifoto">
    </div>
  </div>
  <!-- sobre mi -->
  <div class="sobremi" >
    <h6>Titulos:Some placeholder content.</h6> <span>resumen de educacion y profecion: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex obcaecati maxime reprehenderit aliquid blanditiis earum repudiandae.</span> 
    EXP:Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
            Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
            Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
            Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
    <button routerLink="experiencia">ver mas</button>
  </div>
</section>