#image{
     /* background-color: gray;  */
    max-width: 8rem;
    min-height: 8rem;
    margin-right: 1%;
}

.dat{
    color: rgb(165, 157, 157);
}

.cj1{
    background-color: white;
    margin-top: 1%;
    margin-left: 1%;
    
}
.caja{
    margin: 1% 1% 1% 1%;
}
.caja1{
    border-bottom: 1px solid ;
    border-right: 1px solid ;
}
/* #caja{
    border: 1px solid tomato;
} */
body{
    
    background-color: rgb(195, 236, 236);
}
.habilidades{
    display:flex;
}
